@tailwind base;
@tailwind components;
@tailwind utilities;

/*body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}*/

@layer components {
    .editor {
        @apply mx-auto container flex flex-wrap justify-center items-center content-center;
    }

    .card {
        @apply w-[180px] h-[280px] border-4 border-indigo-500/75 rounded-md flex flex-col justify-between;
    }

    .card img {
        @apply h-[100px] border-b-2 border-indigo-300;
    }

    .cardName {
        @apply border-b-2 border-indigo-300 text-sm leading-5 h-5 text-center;
    }

    .cardDescription {
        @apply h-[50px] border-b-2 border-indigo-300;
    }

    .formulario {
        @apply mx-auto my-5 p-5 border border-gray-300 max-w-[400px];
    }

    .linhaFormulario {
        @apply mt-1 grid grid-cols-12 items-center;
    }

    .colunaUnica {
        @apply col-start-1 col-end-13 text-center;
    }

    .primeiraColuna {
        @apply col-start-1 col-end-5;
    }

    .segundaColuna {
        @apply col-start-5 col-end-13;
    }

    .saveButton {
        @apply mt-10;
        @apply text-gray-900 bg-white border border-gray-300 focus:outline-none hover:bg-gray-100 focus:ring-4 focus:ring-gray-200 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-gray-800 dark:text-white dark:border-gray-600 dark:hover:bg-gray-700 dark:hover:border-gray-600 dark:focus:ring-gray-700;
    }

    .saveButtonDisabled {
        @apply bg-slate-400 hover:bg-slate-500 cursor-not-allowed;
    }

    .deleteButton {
        /*@apply mt-10;*/
        @apply text-gray-900 bg-white border border-gray-300 focus:outline-none hover:bg-gray-100 focus:ring-4 focus:ring-gray-200 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-gray-800 dark:text-white dark:border-gray-600 dark:hover:bg-gray-700 dark:hover:border-gray-600 dark:focus:ring-gray-700;
    }
}
